#section-resort-list h1 , 
#about-section h1 , 
#login-section h1 , 
#register-section h1
{
    margin:16px 0;

}
.resort-card 
{
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    background-color: white;
    overflow: hidden;
}

.resort-card img 
{
    height:440px;
    object-fit: cover;
    cursor: pointer ;
    transition:  transform .25s visibility .25s ease-in;

}

.resort-card:hover img
{
    transform: scale(1.4);
}
.resortContent{
    padding:0 16px
}

.resortContent h3
{
    margin-bottom: 5px;
}