<header>
    <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/about-us">About</a>
                    </li>

                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/users">Registration</a>
                    </li>
                </ul>
            </nav>
    </div>
</header>