#hero-section
{
    height: calc(100vh - 50px);  
    z-index: 1;
    position: relative;
    color:white;
    font-weight:bolder;
    background-image: url("/assets/img/resortBg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

  
}

#hero-section::before
{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%; 
    background-color: rgba(81, 194, 255, 0.35);
    z-index: -1;

}



#hero-section h1 
{
    font-size:3rem;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
 
}

#hero-section div
{
    height:100%;
 

}