<section id="section-resort-list">
    <div class= "container">
    
        <h1>Featured Resort</h1>

        <div class="grid grid-gap-1 grid-row-gap-2 grid-col-4">
            <app-resort-item title="Tnt Apartment" imageName="/assets/img/resort1.webp" [price]=70></app-resort-item>
            <app-resort-item title="Toronto Apartment" imageName="/assets/img/resort2.webp" [price]=170></app-resort-item>
            <app-resort-item title="Germany Apartment" imageName="/assets/img/resort3.webp" [price]=270></app-resort-item>
        </div>

    </div>
</section>
